source '../vendor/allwinnertech/chips/r528/components/audio/Kconfig'
source '../vendor/allwinnertech/chips/r528/components/rpmsg_test/Kconfig'
source '../vendor/allwinnertech/chips/r528/components/libuapi/src/Kconfig'
source '../vendor/allwinnertech/chips/r528/components/rpmsg_memblk/Kconfig'
source '../vendor/allwinnertech/chips/r528/components/ring_buffer/Kconfig'
source '../vendor/allwinnertech/chips/r528/components/alg_cfg_test/Kconfig'
source '../vendor/allwinnertech/chips/r528/components/aw_eq/Kconfig'
#source '../vendor/allwinnertech/chips/r528/components/multimedia/Kconfig'
#source '../vendor/allwinnertech/chips/r528/components/multimedia_demo/Kconfig'
source '../vendor/allwinnertech/chips/r528/components/secure_storage/Kconfig'
source '../vendor/allwinnertech/chips/r528/components/bluetooth/Kconfig'
