menu "SOUND Devices"

config DRIVERS_SOUND
	bool "Sound card support"
	default n

if DRIVERS_SOUND
source '../vendor/allwinnertech/chips/r528/drivers/rtos-hal/hal/source/sound/core/Kconfig'
source '../vendor/allwinnertech/chips/r528/drivers/rtos-hal/hal/source/sound/codecs/Kconfig'
source '../vendor/allwinnertech/chips/r528/drivers/rtos-hal/hal/source/sound/platform/Kconfig'
source '../vendor/allwinnertech/chips/r528/drivers/rtos-hal/hal/source/sound/component/Kconfig'
source '../vendor/allwinnertech/chips/r528/drivers/rtos-hal/hal/source/sound/common/Kconfig'

endif # DRIVERS_SOUND

endmenu
